# ---- Python (backend) ----
__pycache__/
/**/*.py[cod]
/**/*.pyo
/**/*.pyd
/**/*.pyc
/**/*.sqlite3
/**/*.log

# Virtual environments
venv/
.venv/
/env/
/ENV/

# Environment Variables
.env

# Python tools
.mypy_cache/

# ---- Common files ----
.DS_Store
.vscode/
.idea/
*.log
.history
test_results.db



# ---- Frontend (client folder) ----

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# production
client/build/

# testing
client/coverage


# misc
client/.env
client/.eslintcache
client/.turbo/

# Optional: log files
*.log

# Optional: package lock files if using Yarn or npm
client/yarn.lock
client/package-lock.json










